<%- include('./shared/head.ejs') %>
<body style="background-color: rgb(40, 92, 161); margin-top: 20%;" class="text-center text-uppercase">
    <i style="font-size: 4rem;" class="fa-solid fa-dumbbell"></i>
    <h1>404 Page not found.</h1>
</body>