<%- include('./shared/head.ejs') %>
    <link href="/css/createPost.css" rel="stylesheet">
    <title>Canva!</title>
    </head>
    <body>

        <main>
            <%- include('./shared/homeSideNav.ejs') %>
            <div class="card-body pt-5 text-center">
                <form class="mb-md-5 mt-md-4 pb-5" autocomplete="off" method="post" action="/create" enctype="multipart/form-data">

                    <h2 class="fw-bold mb-2">Create a post!</h2>

                    <div class="form-outline form-white mb-4">
                        <input type="title" id="title" class="form-control-lg" name="title"
                        maxlength="50" placeholder="title..." />
                    </div>
                    <div class="form-outline form-white mb-4">
                        <textarea type="body" id="body" class="form-control-lg" name="body"
                        maxlength="500" placeholder="say someting..."></textarea>
                    </div>
                    <div class="form-outline form-white mb-4">
                        <img src="" id="imagePreview">
                        <input type="file" id="img" name="blogPostImage" accept="image/*" onchange="showPreview(event)">
                    </div> 
                    <div>
                    <button class="btn btn-outline-dark btn-lg px-5" type="submit">Create Post</button>
                    </div>
                </form>
            </div>   
        </main>
        <script src="/bootstrap.bundle.min.js"></script>

        <script src="/js/home.js"></script>
    </body>