<%- include('./shared/head.ejs') %> 
<link href="/css/home.css" rel="stylesheet">
<title>Canva!</title>
</head>
<style>
#feed {
  color: rgb(40, 92, 161)
}  
</style>

  <body>

  <main>
    <%- include('./shared/homeSideNav.ejs') %> 
    <h1>THIS IS YOUR FEED</h1>
  </main>
  <script src="/bootstrap.bundle.min.js"></script>

  <script src="/js/home.js"></script>
  </body>
</html>
