<%- include('./shared/head.ejs') %> 
<link href="/css/home.css" rel="stylesheet">
<title>Canva!</title>
</head>
<body>

<main>
  <%- include('./shared/homeSideNav.ejs') %> 
</main>

  <script src="/bootstrap.bundle.min.js"></script>

  <script src="/js/home.js"></script>
  </body>
</html>
