<%- include('./shared/head.ejs') %> 
<title>Sign up</title>
</head>

<body style="background-color: rgb(40, 92, 161);">
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                  <b><p style="color: red;"><%= data.errorMessage %> </p></b>
                  <form class="mb-md-5 mt-md-4 pb-5" method="post" action="/signup">
      
                    <h2 class="fw-bold mb-2 text-uppercase">Sign up</h2>
                    <p class="text-white-50 mb-5">Welcome to Canva!</p>
      
                    <div class="form-outline form-white mb-4">
                      <input type="email" id="typeEmailX" class="form-control form-control-lg" name="typeEmailX" value="<%= data.email %>" />
                      <label class="form-label" for="typeEmailX">Email</label>
                    </div>
      
                    <div class="form-outline form-white mb-4">
                      <input type="password" id="typePasswordX" class="form-control form-control-lg" name="typePasswordX" value="<%= data.password %>"/>
                      <label class="form-label" for="typePasswordX">Password</label>
                    </div>
                    <div class="form-outline form-white mb-4">
                        <input type="password" id="typeCPasswordX" class="form-control form-control-lg" name="typeCPasswordX"/>
                        <label class="form-label" for="typeCPasswordX">Comfirm password</label>
                      </div>      
                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Create account</button>
                  </form>

                  <div>
                    <p class="mb-0">Alredy have an account? <a href="/login" class="text-white-50 fw-bold">Log in</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>

<script src="/bootstrap.min.js" defer></script>
</html>