#createPost {
    color: rgb(40, 92, 161);
    text-align: center;
}
.form-control-lg {
    width: 500px;
}
textarea {
    min-height: 8rem;
    max-height: 12rem;
}
#imagePreview{
    height:35px;
    width: 35px;
}
#error {
    color: red;
}
