#userProfile {
    color: rgb(40, 92, 161);
    text-align: center;
}
.form-control-lg {
    width: 500px;
}
textarea {
    height: 12rem;
}
body {
    background-color: rgb(40, 92, 161);
}
#imagePreview {
    width:100px; 
    height:100px; 
    border-radius: 50%;
    border:5px solid rgb(33,37,40);
}
.card-body {
    margin-top: 4rem;
}