#editAndDelete {
    color: rgb(40, 92, 161);
  }
  .p-4 {
    position: relative;
    color: #fff;
  }
  .posts {
    width: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
    display: flex;
    flex-wrap: wrap;
  }
  button:hover{
    color: rgb(40, 92, 161);
  }
  .card {
    overflow: scroll;
  }
  .card:hover {
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
  }
  #no-post-text {
    margin: auto;
  }
  h1 {
    text-align: center;
    margin: 2rem;
  }
  .edit-body {
    width: 100%;
    overflow: scroll;
  }
  a {
    text-decoration: none;
  }