#editAndDelete {
    color: rgb(40, 92, 161);
    text-align: center;
}
.form-control-lg {
    width: 500px;
}
textarea {
    height: 12rem;
}
#imagePreview{
    height:35px;
    width: 35px;
}
body {
    background-color: rgb(40, 92, 161);
}
