#editAndDelete {
    color: rgb(40, 92, 161);
  }

  .like-btn {
    all: unset;
    cursor: pointer;
  }

  .p-4 {
    position: relative;
    color: #fff;
  }

  .posts {
    width: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
    display: flex;
    flex-wrap: wrap;
  }
  #edit-btn{
    float:left;
  }
  #del-btn {
    float: right;
  }
  button:hover{
    color: rgb(40, 92, 161);
  }
  .card {
    overflow: scroll;
  }
  .card:hover {
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
  }
  #no-post-text {
    margin: auto;
  }