#feed {
    color: rgb(40, 92, 161)
  }
  .like-btn {
    all: unset;
    cursor: pointer;
  }
  .p-4 {
    position: relative;
    color: #fff;
  }
  .card {
    margin:auto
  }
  .posts {
    width: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
  }
  img {
    align-self:center;
  }
  button:hover{
    color:rgb(40, 92, 161)
  }
  .liked {
    color:rgb(40, 92, 161)
  }
  #like {
    display: inline-flex;
  }
  #likeCount {
    display: inline-flex;
  }
  #no-post-text {
    margin: auto;
  }
  #pfp {
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  .userData {
    display: flex;
    margin-bottom: 10px;
  }
  #userName {
    margin-top: 9px;
    margin-left: 5px;
  }