#userProfile {
    color: rgb(40, 92, 161)
}  
#pfp-img {
  border-radius: 50%;
}
#img-post {
  align-self:center;
}
.like-btn {
  all: unset;
  cursor:default;
}
.like-btn:hover {
  cursor:default;
}
.p-4 {
  position: relative;
  color: #fff;
}
.posts {
  display: flex;
  flex-wrap: wrap;
}
.card:hover {
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
}
.liked {
  color:rgb(40, 92, 161)
}
#like {
  display: inline-flex;
}
#likeCount {
  display: inline-flex;
}
.body {
  overflow: scroll;
  width: 100%;
}
.card {
  overflow: scroll;
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}
#no-post-msg {
  margin:auto;
  font-size: 2rem;
}
#break {
  top: 20px;
  height: 8px;
  margin-bottom: 50px;
}
#pfp-img {
  border:5px solid rgb(33,37,40);
  width:150px; 
  height:150px;
}
hr {
  margin: 0;
}
.userData {
  display: flex;
}
.edit-profile-btn {
  border-radius: 8%;
  background-color: rgb(40, 92, 161);
  border: none;
  color: rgb(33,37,40);
  padding: 5px;
  width: 5rem;
  border: 1px solid rgb(33,37,40);
}
.edit-profile-btn:hover{
  background-color: rgb(33,37,40);
  color: #fff
}
.post {
  color: #fff;
}
#pfp {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}
.userData {
  padding-top: .9rem;
}
#userName {
  margin-top:3px;
}